name: Test maven download

on:
  push: {}
  pull_request: {}
  workflow_dispatch: {}
  schedule:
    - cron: "37 4 * * *"

jobs:
  test-build:
    name: Test build for ql v${{ matrix.quantlib-version }}, jdk${{ matrix.java-version }} and os ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        quantlib-version:
          - 1.40.0
          - 1.41.0-SNAPSHOT
        java-version:
          - 17
          - 21
          - 25
        os:
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-14
          - macos-15
          - macos-26
          - windows-2022
          - windows-2025

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java-version }}
          distribution: "temurin"
          cache: maven

      - name: Build on ${{ matrix.os }} and jdk ${{ matrix.java-version }}
        id: build
        shell: bash
        run: |
          ./mvnw --batch-mode --version
          ./mvnw --batch-mode                    versions:set-property -Dproperty=quantlib.version -DnewVersion=${{ matrix.quantlib-version }}
          ./mvnw --batch-mode --update-snapshots clean test
